body {
    /* background-image: ; The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    min-height: 1300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
html {
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 100%;
    height: 100%;
    width: 280px;
}
h1 {
    color: black;
    text-align: center;
}

h2 {
    font-weight: bolder !important;
    margin-bottom: 10px;
    margin-left: 10px;
}
ul {
    list-style-type: none;
}
p {
    font-size: 28px;
    padding: 20px;
    padding-left: 0px;
}
/* 
.title {
    text-align: left;
    font-size: 55px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:white;
    background-color: #6b330d;
    width:40%;
    border-radius: 25px;
    padding: 10px;
}
 */

.card-content a:link {
    color: black !important;
    text-decoration: none;
}
.icons a:link {
    color: white !important;
    text-decoration: none;
}

.icons a:visited {
    color: white !important;
    text-decoration: none;
}

a:hover {
    color: grey !important;
    text-decoration: none;
}

.icons a:active {
    color: white !important;
    text-decoration: none;
}

.aboutText {
    padding: 20px;
    font-size: 20px;
}
.header {
    position: relative;
    display: flex;
    /* background-image: url("../src/assets/images/background.png"); */
    background-color: #072e5c;
    border-bottom: 3px solid #55561c;
}

.fa-bars {
    color: white;
}

hr {
    border: 2px solid #072e5c !important;
}

.card {
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    margin: 2rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
}

.card > .img-container {
    height: 200px;
    max-width: 280px;
    /* overflow: hidden; */
    text-align: center;

    /* padding-top: 10px; */
}

.card-content {
    text-align: center;
    height: 100%;
    margin-top: 20px;
}

.card-content > ul {
    padding-left: 0px !important;
   
}

.card-content > ul > li {
    list-style-type: none;
    text-align: center;
    margin-bottom: 10px;
    background-color: darkseagreen !important;
    border-radius: 25px;
    /* display: inline; */
    margin-left: 20px !important;
    margin-right:20px !important;
    padding:20px;
    vertical-align: middle;
    border: 1px solid black;
}

.card-content > ul > li > a {
    color: black;
    margin-left: 15px !important;
    
}

.card-content > ul > li > h1 {
    color: black;
   font-size: 50px !important;
   font-weight: bolder;
   text-align: center;
   /* float:left; */
   
}



.card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    height: 200px;
}

.card > .content > ul {
    list-style-type: none;
}

.card > .content > ul > li {
    margin-top: 18px;
}

.projectCard {
    display: inline-flex !important;
    margin-top: 20px;
    margin-bottom: 20px;

    height: 200px;
    width: 280px;
}

.project-image {
    position: relative;
    height: 200px;
    width: 280px;
}
.text-block {
    position: absolute;
    text-align: center;
    bottom: 20px;
    font-size: 18px !important;
    font-weight: bold !important;
    right: 0;
    width: 100%;
    background-color: #555821 !important;
    border-color: #815435;
    color: #ffffff;
    padding: 10px;
    height: 40px;
}

.gitButton{
    position: absolute;
    right: 4px;
    height:30px;
    width:30px;
    top: 0px;
    background-color:white; 
   
}
.gitButton .fab {
    font-size:40px;
    color:black;
   

}

.portfolio-container {
    margin-top: 200px;
    margin-bottom: 100px;
    background-image: url("../src/assets/cork-board.png") !important;
    /* background-color: wheat !important; */
    overflow: hidden;
    text-align: center;
    border-radius: 25px;
    border:1px solid black !important;
}

.portfolio-container .title {
    text-align: left;
    font-size: 55px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    color:white;
    background-color: #51541d;
    /* width:40%; */
    border-radius: 25px;
    padding: 10px;
}


.container {
    margin-left: 25%;
    border: 1px white solid;
    background-color: white;
    width: 50%;
}

.contactBar {
    height: 45px;
    background-color: #4d6d8f;
}

.icons {
    max-width: 1600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.icons > ul {
    display: flex;
    position: absolute;
    right: 20px;
}

.icons > ul > li {
    color: white;
    font-size: 35px;
    margin-right: 25px;
}

.navcontainer {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #072e5c;
    width: 100%;
}

.navbar {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.navigation-bar {
    position: absolute;
    justify-content: left;
    right: 2%;
}

.navbar-nav {
    justify-content: left;
}
.navbar-nav > li {
    font-size: 28px;
}

.navbar-brand {
    color: white;
    font-size: 55px !important;
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
}
.nav-item {
    margin-right: 20px;
}

.navbarText {
    width: 100%;
    text-align: left;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}

.nav-link {
    color: white;
    font-weight: bold;
}

.about-container {
    border: 1px white solid;
    background-color: white;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 20px;
    margin-top: 175px;
    margin-bottom: 50px;
}

.about-container .title {
    text-align: left;
    font-size: 55px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    color:white;
    background-color: #7f9288;
    /* width:300px; */
    border-radius: 25px;
    padding: 10px;
}
.ResumePageContainer {
    margin-top: 200px;
   
   
}
.resumePage {
    max-width: 1600px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: white;
}
.summary {
    margin-left: auto;
    margin-right: auto;
}
.summary-container {
    text-align: center;
    margin: 20px;

    padding: 20px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.summary-container h1 {
    font-weight: bold;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #8b5b37;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}
.ed-container {
    width: 23%;
    margin: 10px;
    padding: 10px;
}
.ed-container h1 {
    font-weight: bold;
    margin: 20px;
    color: black;
    background-color: #ccb479;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}
.skills-container {
    width: 27%;
    margin: 10px;
    padding: 10px;
}

.skills-container h1 {
    font-weight: bold;
    margin: 20px;
    color: black;
    background-color: #9caba3;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}
.skills-container h3 {
    font-weight: bold;
}

.resume-container {
    width: 50%;
    background-color: lightblue;
    border: 2px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 100%;
    padding: 40px;
    margin-top: 30px;
}

.resume-container h1 {
    font-weight: bold;
    margin: 20px;
    color: black;

    border-radius: 15px;
    padding: 10px;
}

.profile {
    width: 600px;
    height: 100%;
    margin: 0 10px 0 0;
    padding: 20px;
}

.resumePNG {
    width: 150px;
    height: auto;
    margin-left: 75px;
    margin-top: 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #67692a;
    color: white;
    text-align: center;
    border-top: 3px solid #51541d;
}

.contact-card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.contactprofile {
    width: 300px;
    height: 100%;
    margin: 0 10px 20px 0;
    padding: 15px;
}

.contact-card-details {
    width: auto;
    /* padding: 10px; */
}

.contact-box {
    background-color: #545720;
    border:2px solid black;
    border-radius: 25px;
    text-align: left;
    font-size: 55px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    color:white;
    background-color: #bc9e56;
    padding: 10px;

}

.contactLinks {
    margin-left: 35%;
}
.ml-auto {
    /* background-color: #072e3d !important; */
    /* width: 100% !important; */
    padding-left: 10px !important;
}
.firstInList {
    margin-left: 0px !important;
}
.card-home {
    height: 400px;
}

.row-home {
    margin-top: 10%;
    margin-left: 33%;
}

.ome-profile-photo {
    margin-left: 20%;
}


.closer {
    text-align: center;
    height: 100%;
}

.thankyou {
    background-color: #fff;
    margin: 10px;
    /* display: flex; */
}
.thankyoutext {
    text-align: center;
    /* display: flex; */
    /* margin-top: 50px; */
}

.contactTripp {
    border: 1px solid #072e5c;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-size: 30px;
    padding: 5px;
    border-radius: 10px;
}

@media screen and (max-width: 1035px) {
    .contact-card {
        width: 75%;
    }
}
/* At the top level of your code */
@media screen and (max-width: 800px) {
    .contactCard {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .contactprofile {
        width: 300px;
        height: 100%;
        margin: 0 10px 20px 0;
        padding: 15px;
    }

    .contact-card-details {
        width: auto;
        padding: 10px;
    }

    .contact-box {
        background-color: #545720;
        color: #fff;
    }

    .contactLinks {
        margin-left: 35%;
    }
}

@media screen and (max-width: 780px) {
    .container {
        margin-left: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .portfolio-container {
        margin-top: 175px;
        text-align: center;
    }
    .contact-box{
        margin-top: 175px;
        text-align: center;
    }
    .contactTripp {
        font-size: 24px;
    }
}
@media screen and (max-width: 440px) {
    .card-content {
        /* text-align: left; */
        height: 100%;
    }
    .card-content > ul > li {
        text-align: center;
    }
    .navbar-brand {
        color: white;
        font-size: 25px !important;
        font-weight: bolder;
    }
    h1,
    h2,
    h3 {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 360px) {
}
